.mainWrap {
  background-color: white;
  padding: 5px;
}

.formContainer {
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 950px;
  margin: 0px auto;
  /* border: 1px solid #e0e0e0; */
}
.formContainer .formWrapper {
  background-color: #fcfcfc;

  padding: 40px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: left;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 1px black;
  position: relative;
}

.formContainer .formWrapper .logo img {
  width: 62px;
  object-fit: cover;
  height: 90px;
  object-position: -16px;
}

.formContainer .formWrapper .title {
  font-size: 30px;
  font-weight: 500;
  padding: 0 0 30px 0;
  max-width: 300px;
}
.formContainer .formWrapper form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formContainer .formWrapper form input {
  padding: 15px 7px;

  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.formContainer .formWrapper form input::placeholder {
  color: #aaa;
  font-size: 14px;
}
.formContainer .formWrapper form a {
  color: black;
  text-decoration-line: underline;
  padding: 10px 0;
  font-family: MyFontLight;
}
.formContainer .formWrapper form button {
  border: none;
  padding: 17px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;

  margin: 20px auto;
}
.formContainer .formWrapper p {
  font-size: 15px;
  margin: 4px auto;
  /* color: #aaa; */
  font-family: "MyFontLight";
  position: relative;
}
.formContainer .formWrapper p.wrapparagraph::after {
  content: "";
  width: 80px;
  height: 1px;
  position: absolute;
  top: 11px;
  background-color: #ddd;
  margin: 0 7px;
}
.formContainer .formWrapper p.wrapparagraph::before {
  content: "";
  width: 80px;
  height: 1px;
  position: absolute;
  top: 11px;
  left: -95px;
  background-color: #ddd;
  margin: 0 7px;
}
.formContainer .formWrapper form label {
  font-size: 14px;
}
.formContainer .formWrapper .nameRegister {
  display: flex;
  justify-content: space-between;
}
.formContainer .formWrapper .nameRegister div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formContainer .formWrapper #Fname,
#Lname {
  /* max-width: 180px; */
  display: inline-block;
}

p.errormessage {
  color: red;
}
/* input[type="file"] {
  display: none;
} */
.custom-file-upload {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-bottom: 25px;
  position: absolute;
  top: 150px;
  right: 15px;
  /* opacity: 0.5; */
}
.custom-file-upload span {
  position: absolute;
  top: 120px;
  left: 90px;
  z-index: 1;
}

.img-wrap,
.img-upload {
  position: relative;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
}
.img-wrap img,
.img-upload img {
  width: 100%;
  height: 100%;
}
.img-upload:hover {
  opacity: 0.5;
}
/* img {
  width: auto;
  height: 100%;
} */

/* input:focus{
  outline: none;
  border: 1px solid #64d488;
}
input::placeholder{
  color: #bebebe;
} */
